.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block: auto;
  padding-inline: 30px;
  padding-block: 133px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
