*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

ul,
ol {
  list-style: none;
}
