.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-inline: 1px solid currentColor;
  border-block: 1px solid currentColor;
  padding-inline: 5px;
  padding-block: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background: #545050;
}
