.search-form__pseudo-checkbox {
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__pseudo-checkbox:active::before {
  content: '';
  position: absolute;
  inset: 1px;
  background-color: #fff;
}
